# **Prereuisite: Installing MySQL connector using Python**

In [1]:
%pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./.venv/lib/python3.13/site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

# **Pre-exercise: Python and MySQL connections**

In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user="zahidrf", password="232321Fa", port=3306, host="127.0.0.1")

In [3]:
try:
    connection=connector.connect(user="not_zahidrf", password="090932Gs")
except:
    print("Whoops... There was an error connecting to the database because you entered the wrong user and password. Please input your correct user and password again.")

Whoops... There was an error connecting to the database because you entered the wrong user and password. Please input your correct user and password again.

In [4]:
import mysql.connector as connector
from mysql.connector import errorcode
try:
    connection=connector.connect(user="zahidrf", password="232321Fa", database="big_lemon")

except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password because you entered the wrong one. Please try again with the correct one or enter the correct user and password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("The database does not exist. You may need to create one.")
    else:
        print(err)

The database does not exist. You may need to create one.

# **Exercise Time: Creating a table structure in a MySQL database using Python**

## **Prerequisite: Cursor for execution, create the database "little_lemon", and activate it**

In [5]:
cursor = connection.cursor()

In [6]:
creating_database = "CREATE DATABASE little_lemon;"

In [7]:
cursor.execute(creating_database)

In [8]:
activating_database = "USE little_lemon;"

In [9]:
cursor.execute(activating_database)

## **1st Task**

In [10]:
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

('aplikasi_berita',)
('customers',)
('information_schema',)
('inventory_management',)
('little_lemon',)
('my_testing_app',)
('mysql',)
('night_club_bar',)
('performance_schema',)
('phpmyadmin',)
('python',)
('restaurant',)
('restaurant_db',)
('sys',)
('wordpress',)

## **2nd Task**

In [11]:
connection.database

'little_lemon'

## **3rd Task**

In [12]:
create_menuitem_table = """CREATE TABLE MenuItems(
    ItemID INT AUTO_INCREMENT,
    Name VARCHAR(200),
    Type VARCHAR(100),
    Price INT,
    PRIMARY KEY (ItemID)
);"""

In [13]:
cursor.execute(create_menuitem_table)

In [14]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('MenuItems',)

## **4th Task**

In [15]:
create_menu_table = """CREATE TABLE Menus(
    MenuID INT,
    ItemID INT,
    Cuisine VARCHAR(100),
    PRIMARY KEY (MenuID, ItemID)
);"""

In [16]:
cursor.execute(create_menu_table)

In [17]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('MenuItems',)
('Menus',)

## **5th Task**

In [18]:
create_booking_table="""CREATE Table Bookings (
    BookingID INT AUTO_INCREMENT,
    TableNo INT,
    GuestFirstName VARCHAR(100) NOT NULL,
    GuestLastName VARCHAR(100) NOT NULL,
    BookingSlot TIME NOT NULL,
    EmployeeID INT,
    PRIMARY KEY (BookingID)
);"""

In [19]:
cursor.execute(create_booking_table)

In [20]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)

## **6th (and final) Task**

In [21]:
create_orders_table="""CREATE TABLE Orders (
    OrderID INT,
    TableNo INT,
    MenuID INT,
    BookingID INT,
    BillAmount INT,
    Quantity INT,
    PRIMARY KEY (OrderID, TableNo)
);"""

In [22]:
cursor.execute(create_orders_table)

In [23]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)