# **Menginstal MySQL Connector dalam Python**

In [1]:
%pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp313-cp313-macosx_13_0_arm64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.1.0-cp313-cp313-macosx_13_0_arm64.whl (15.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.1/15.1 MB 615.8 kB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

# **Menghubungkan MySQL dengan Python**

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user="root", password="232321Fa", port=3306, host="127.0.0.1", database="python")

# ***Error Handling* (Penanganan Kesalahan) 1**

In [4]:
try:
    connection=connector.connect(user="root", password="232321Fa")
except:
    print("Maaf. Terjadi kesalahan dalam perhubungan database.")

## ***Error Handling* (Penanganan Kesalahan) 2**

In [5]:
import mysql.connector as connector
from mysql.connector import errorcode
try:
    connection=connector.connect(user="root", password="232321Fa", database="python")
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Koneksi pengguna atau kata sandi salah.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database tidak ditemukan.")
    else:
        print(err)

In [6]:
# Cetak sebuah pesan untuk menunjukkan pengguna
# Import MySQL Connector/Python
print("Mengimpor MySQL Connector/Python API...")
import mysql.connector as connector
print("MySQL Connector/Python API telah diimpor dengan sukses.\n")

# Menetapkan koneksi dengan pengguna/kata sandi yang sudah diotorisasi
print("Menetapkan koneksi baru antara MySQL dan Python...")
connection=connector.connect(user="root", password="232321Fa")
print("Koneksi antara MySQL dan Python sudah ditetapkan dengan sukses.")

Mengimpor MySQL Connector/Python API...
MySQL Connector/Python API telah diimpor dengan sukses.

Menetapkan koneksi baru antara MySQL dan Python...
Koneksi antara MySQL dan Python sudah ditetapkan dengan sukses.

In [7]:
import mysql.connector as connector
try:
    connection=connector.connect (
        user="mpopodf",
        password="09ekwe"
    )
except:
    print("""
    Terjadi masalah mengubungkan ke database.
    Pastikan Anda telah mengisi username dan password dengan benar.
    """)

    Terjadi masalah mengubungkan ke database.
    Pastikan Anda telah mengisi username dan password dengan benar.

In [8]:
import mysql.connector as connector

try:
    connection=connector.connect (
        user="root",
        password="232321Fa",
        database="python"
    )

except connector.Error as er:
    print("Kode Error:", er.errno)
    print("Pesan Error:", er.msg)

In [9]:
if connection.is_connected():
    connection.close()
    print("Koneksi MySQL ditutup.")
else:
    print("Koneksi sudah ditutup.")

Koneksi MySQL ditutup.

# **Membuat sebuah database dan tabel di dalam MySQL database menggunakan Python**

In [10]:
import mysql.connector as connector

In [11]:
connection=connector.connect(user="root", password="232321Fa")

In [12]:
cursor=connection.cursor()

In [13]:
create_database_query="CREATE DATABASE little_lemon"

In [14]:
cursor.execute(create_database_query)

DatabaseError: 1007 (HY000): Can't create database 'little_lemon'; database exists

In [15]:
use_database_query="USE little_lemon"

In [16]:
cursor.execute(use_database_query)

In [17]:
create_menuitem_table="""
CREATE TABLE MenuItems(
    ItemID INT AUTO_INCREMENT,
    Name VARCHAR(200),
    Type VARCHAR(100),
    Price INT,
    PRIMARY KEY (ItemID)
);
"""

In [18]:
cursor.execute(create_menuitem_table)

ProgrammingError: 1050 (42S01): Table 'menuitems' already exists

In [19]:
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

('aplikasi_berita',)
('information_schema',)
('inventory_management',)
('laravel',)
('little_lemon',)
('my_testing_app',)
('mysql',)
('night_club_bar',)
('performance_schema',)
('phpmyadmin',)
('python',)
('sys',)

In [20]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

In [21]:
connection.database

'little_lemon'

In [22]:
create_menu_table="""
CREATE TABLE Menus(
    MenuID INT,
    ItemID INT,
    Cuisine VARCHAR(100),
    PRIMARY KEY (MenuID, ItemID)
);
"""

In [23]:
cursor.execute(create_menu_table)

ProgrammingError: 1050 (42S01): Table 'menus' already exists

In [24]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

In [25]:
create_booking_table="""
CREATE Table Bookings (
    BookingID INT AUTO_INCREMENT,
    TableNo INT,
    GuestFirstName VARCHAR(100) NOT NULL,
    GuestLastName VARCHAR(100) NOT NULL,
    BookingSlot TIME NOT NULL,
    EmployeeID INT,
    PRIMARY KEY (BookingID)
);
"""

In [26]:
cursor.execute(create_booking_table)

ProgrammingError: 1050 (42S01): Table 'bookings' already exists

In [27]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

In [28]:
create_orders_table="""
CREATE TABLE Orders (
    OrderID INT,
    TableNo INT,
    MenuID INT,
    BookingID INT,
    BillAmount INT,
    Quantity INT,
    PRIMARY KEY (OrderID, TableNo)
);
"""

In [29]:
cursor.execute(create_orders_table)

ProgrammingError: 1050 (42S01): Table 'orders' already exists

In [30]:
cursor.execute("SHOW TABLES")
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

In [ ]:
mycursor = mydb.cursor()

In [ ]:
mycursor.execute("SELECT * FROM nama_tabel")

In [ ]:
result = mycursor.fetchall()